/*Salmon Cookies*/

body {
  background-color: rgb(204, 147, 141);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;

  }

  header {
    text-align: center;
    padding: 15px;
  }

table {
  border: solid #201d64 1px;
  border-collapse: collapse;
  margin: 20px;
}
th, td {
  border: solid #201d64 1px;
  padding: 5px;
}

